# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/


out/
results/legacy
scripts/legacy
.idea/
notebooks/.ipynb_checkpoints/

ppa/__pycache__/
ppa/dy/__pycache__/
scripts/

stan/*.rds
